.date{width:150px; height:24px; line-height:11px; padding:5px; border:1px #AA9FFF solid; cursor:pointer; background:url(../images/dateIco.png) no-repeat right center;}
.submit {color: white; text-align: center;}
.submit:hover {cursor: pointer;}
.lf {
  float: left;
}
.rf {
  float: right;
}
.finance_s a {
  color: #333;
  text-decoration: none;
}
.finance_s {
  position: relative;
  width: 100%;
  height: 100%;
}
.finance_s .r_win {
  padding: 10px 0;
}
.finance_s .bt_bor {
  border-bottom: 2px solid #CACEDB;
}
.finance_s .r_win .table_title {
  line-height: 40px;
  font-weight: 600;
  font-size: 1.17em;
}
.finance_s .r_win .get_exl {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  border: 1px solid #333;
  border-radius: 5px;
}

#selBtn:hover {
  cursor: pointer;
}
.finance_s input[type="radio"] {
  margin: 0 5px 0 0;
}

.finance_s input {
  line-height: 20px;
}
.finance_s select {
  line-height: 26px;
}
.finance_s .r_win .sel_tab {
  line-height: 40px;
}
.finance_s .t_condition {
  padding: 10px 0;
}
.finance_s .sel_tab .coin_list_chk label {margin-right: 10px;}
.finance_s .sel_tab .coin_list_chk label input {margin-right: 5px;}
.finance_s .r_win .change_tab {
  display: inline-block;
  width: 90%;
}
.finance_s .r_win .change_tab select {
  height: 23px;
}
.finance_s .r_win .coin_list_chk_sel {
  display: inline-block;
}
.oblique_line {
  position: absolute;
  left: -9px;
  right: 0px;
  top: 23px;
  display: inline-block;
  width: 304px;
  height: 3px;
  transform: rotateZ(9.4deg);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAAAGCAYAAACLpKEdAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACNSURBVFhH7dOhDsMgFAVQIBWVlRUT/cNVERwWEj6on1JZUdFPQBQYS19I7dJRsd2TkHevQsBjAPA5TpNprTvvfUf1EmvtQhHgJ5XFUUqNnPMn1asGmv9ozWc/ItwlpeTz/92oVpHvsMaY6Z3L4sB3SCkf+QEbqnATIUQbY+ypVhFCmJ1zVZcTAADgjLEX09EhBKjo3uMAAAAASUVORK5CYII=) center center no-repeat;
  background-size: 100% 100%;
}
.finance_s .t_contain {
  padding: 10px 0;
}
.finance_s table {
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
  overflow-x: auto;
}
.finance_s table tr td {
  word-wrap: break-word;
  white-space: nowrap;
}
.finance_s table thead tr {
  line-height: 50px;
}
.finance_s table thead tr td {
  padding: 0 8px;
}
.finance_s table td {
  border: 1px solid #aaa;
}
.finance_s table thead tr .f_til_r {
  position: absolute;
  right: 9px;
  top: 5px;
  line-height: normal;
}
.finance_s table thead tr .f_til {
  position: absolute;
  left: 9px;
  bottom: 5px;
  line-height: normal;
}
.finance_s table thead tr td:first-child {
  position: relative;
  box-sizing: border-box;
  min-width: 145px;
  width: 145px;
}
.finance_s table tr td:first-child {
  min-width: 145px;
  max-width: 145px;
}
.finance_s table tbody tr td {
  box-sizing: border-box;
  padding: 0 8px;
  line-height: 35px;
}
.finance_s table tbody tr td:first-child,
.finance_s table tbody tr td.bold_f {
  font-weight: 600;
}
