@charset "utf-8";
*{ padding:0; margin:0;}
ul,li{ list-style:none;}
table{ border-collapse:collapse; border-spacing:0;}
input, select, textarea {font-size: 1em;vertical-align:middle}
body{ font:14px/1.6 "微软雅黑",Arial, Helvetica, sans-serif; color:#333; background:#FFF;_behavior:url("style/hover.htc");}
body a{ color:#345291; text-decoration:none; cursor: pointer;}
body a:hover{ text-decoration:underline;}
.l{ float:left;}
.r{ float:right;}
.hide{display:none}
header,#page_head{ height:50px; background:#365493; padding:0 20px; border-bottom:1px solid #062360; color:#FFF;}
header,#page_head a{ color:#FFF;}
#nav{ float:left; padding:10px 20px 0; font-size:14px;text-shadow:1px 1px 1px #091735;}
#nav a{border-radius:5px;  display:inline-block; line-height:32px; padding:0 10px; text-decoration:none;color:#A5BDED;}
#nav a.cur{background:#4F6DAA; color:#FFF; -webkit-box-shadow:1px 1px 1px #2C4985;-moz-box-shadow:1px 1px 1px #2C4985;}
#page_head .option{ padding:10px;}
.logo{ padding:9px 0 0; font:700 20px/1.5  Tahoma, Geneva, sans-serif;}
#page_body{ height:auto;}
.left_bar{ position:absolute; left:0; bottom:0; top:51px;width:200px;background:#E8ECF2 url(img/bg_l_bar.png) repeat-y scroll 100% 0; margin-right:20px;}
.left_bar .menu{ padding:20px 0 0 0; margin-right:-7px; position:relative;}
.left_bar .menu p{ line-height:32px; text-align:left;padding-left: 20px; margin-bottom:10px;cursor: pointer;color:#345291;}
.left_bar .menu p.cur,.left_bar .menu p:hover{background:#FFF url(img/bg_l_menu.png) no-repeat scroll 100% center;color:#333;}
.left_bar .form{ padding:10px 20px;}
.main_page{ position:absolute; left:220px; top:51px; bottom:0; right:0; overflow:hidden;}
.main_iframe{ height:100%; width:100%;}
fieldset{ border:1px dotted #CCC; border-radius:5px; padding:10px; margin-bottom:20px;}
fieldset legend{padding:0 5px; background:#f9f9f9;}
.msg,.msgok,.msgerror{border:1px dotted #CCC; border-radius:5px; padding:10px 10px 10px 36px; margin-bottom:20px;background:url(../../img/pma/s_notice.png) no-repeat 10px;}
.msgok{background:#DFD url(../../img/pma/s_okay.png) no-repeat 10px}
.msgerror{background:#F00 url(../../img/pma/s_error.png) no-repeat 10px;color:#fff}
.mod .hd{ height:29px; line-height:28px;border-bottom:2px solid #CACEDB;}
.mod .hd .title,.mod .hd ul.tabs{ float:left;}
.mod .hd ul.tabs{min-width: 75%;}
.mod .hd .title{ padding:0 20px;}
.mod .hd ul.tabs{}
.mod .hd ul.tabs li{ float:left; border:1px solid #CCC; border-bottom:none; border-radius:5px 5px 0 0; background:#E8ECF1; padding:0 15px; height:28px; margin-left:5px;}
.mod .hd ul.tabs li a{}
.mod .hd ul.tabs li.cur,.mod .hd ul.tabs li:hover{position:relative; border-color:#CACEDB; background:#FFF; height:30px; position:relative; margin-bottom:-2px;}
.mod .hd ul.tabs li.cur a{ color:#333}
.mod .bd{ padding:10px 0;}
.table_s01{ width:100%; background:url(img/bg_table_hd.png) repeat-x scroll 0 3px;}
.table_s01 th,.table_s01 td{ border:1px solid #B1B4C0; padding:5px;}
.table_s01 thead th{ height:22px; }
.table_s01 .chkbox{ text-align:left;}
.iframe_page{ padding:20px 20px 0 0 ;}
#block{ position:absolute; left:0; right:0; top:0; bottom:0; background:black; height:100%; width:100%; z-index:999; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; display:none;}
#block iframe{height:100%; width:100%;filter:alpha(opacity=0); z-index:999;}
#pop{ width:300px; height:200px; border:2px silver solid; background:#EEE; position:fixed; _position:absolute; left:50%; top:50%;  margin:-100px 0 0 -150px; z-index:9000; display:none;}

#filebox{height:300px;width:400px;border:solid 1px #999;position:absolute;overflow:auto;left:0;top:25px;background:#FFF}
textarea{width:99%;height:250px;}
th{word-break: keep-all;white-space:nowrap;}
a img{border:none}

.formtable{width:100%}
.formtable th{width:120px}
.formtable td{padding-top:2px;padding-bottom:2px;}
.formtable span{font-size:12px;color:#999}
.formdate input{width:75px;}
.submit{height:32px;width:100px;font:14px/32px "微软雅黑";background-color:#365493;color:#FFF;border:2px solid #5674B3;}
.submit:hover{background-color:#163483;border:2px solid #455d8f;}

.bgblue{background-color:#266DBB;color:#FFF}

/* 分页 */
.page{padding:10px 0;}
.page li{float:left;border:1px #365493 solid;margin:0 2px;padding:3px 8px;background:url("img/bg_table_hd.png")}
.page .pageActive,.page li:hover{background:#365493;color:#FFF}
.page li:hover{border-color:#000;text-decoration:none;}
.page .pageActive{padding:4px;}

/* 排序图标 */
.header{background:url('/img/pma/ob.png') no-repeat right 11px;}
.headerSortDown{background-position:right -39px;}
.headerSortUp{background-position:right -80px;}

/* width */
.w100{width:100px}.w200{width:200px}.w300{width:300px}.w400{width:400px}.w500{width:500px}.w600{width:600px}.wfull{width:99%}
.h50{height:50px}.h80{height:80px}.h100{height:100px}

.addbox{float:right; width:119px; height:34px;overflow:hidden; background:#4f6daa; border-radius:5px; margin-top:9px; margin-right:30px; cursor:pointer;}
.addbox:hover{height:auto;}
.addbox dt{text-align:center; height:34px; overflow:hidden; line-height:32px;}
.addbox dd{z-index:9999}
.addbox dt span{padding-right:12px; font-size:18px; font-weight:bold; position:relative; top:1px;}
.addbox dd a{display:block; width:119px; height:33px; overflow:hidden; line-height:32px; text-align:center; background:#7898dd; border-top:solid 1px #6b8acc;}
.addbox dd a:hover{text-decoration:none; background:#6888c9;}
.addbox p{position:absolute;margin-left: -120px;margin-top:-34px;border-top:solid 1px #6b8acc;display:none;}
.addbox p a{display:block; width:119px; height:33px; overflow:hidden; line-height:32px; text-align:center; background:#7898dd; border:solid 1px #6b8acc;border-top:0;text-decoration: none;}
.addbox p a:hover{text-decoration:none; background:#6888c9;}
.main_iframe{z-index:1}
.mem:hover{background:#6888C9;}

